Source: rhinote
Section: x11
Priority: extra
Maintainer: Andrea Bolognani <eof@kiyuko.org>
Build-Depends: debhelper (>= 7), pandoc
Standards-Version: 3.8.4
Homepage: http://rhinote.tuxfamily.org/
Vcs-Git: git://git.debian.org/collab-maint/rhinote.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/rhinote.git;a=summary

Package: rhinote
Architecture: all
Depends: python, python-tk, enscript, cups-bsd | lpr | lprng, ${misc:Depends}
Description: virtual sticky-notes for your desktop
 Rhinote is a small program that provides virtual sticky-notes. It's handy
 for jotting down quick notes or holding copied text that you plan to paste
 elsewhere later.
 .
 Notes can be saved as plain text for later viewing/editing with Rhinote or
 any other text editor.
 .
 Rhinote is designed to be "keyboard friendly", that is, every single action
 is bound to a specific keystroke.
