Source: rhinote
Section: x11
Priority: optional
Maintainer: Andrea Bolognani <eof@kiyuko.org>
Build-Depends: debhelper (>= 11),
               dh-exec,
               pandoc
Standards-Version: 3.9.3
Homepage: https://rhinote.tuxfamily.org/
Vcs-Git: https://salsa.debian.org/debian/rhinote.git
Vcs-Browser: https://salsa.debian.org/debian/rhinote

Package: rhinote
Architecture: all
Depends: python,
         python-tk,
         enscript,
         cups-client | lpr,
         ${misc:Depends}
Description: virtual sticky-notes for your desktop
 Rhinote is a small program that provides virtual sticky-notes. It's handy
 for jotting down quick notes or holding copied text that you plan to paste
 elsewhere later.
 .
 Notes can be saved as plain text for later viewing/editing with Rhinote or
 any other text editor.
 .
 Rhinote is designed to be "keyboard friendly", that is, every single action
 is bound to a specific keystroke.
