#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/rhinote

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean 

binary-indep: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_install
	# Rename Rhinote binary
	mv "$(DESTDIR)/usr/bin/rhinote.py" "$(DESTDIR)/usr/bin/rhinote"
	# Rename icons
	mv "$(DESTDIR)/usr/share/icons/hicolor/32x32/apps/rhinote_32x32.png" \
	   "$(DESTDIR)/usr/share/icons/hicolor/32x32/apps/rhinote.png"
	mv "$(DESTDIR)/usr/share/icons/hicolor/48x48/apps/rhinote_48x48.png" \
	   "$(DESTDIR)/usr/share/icons/hicolor/48x48/apps/rhinote.png"
	dh_installchangelogs 
	dh_installdocs
	dh_installman "$(CURDIR)/debian/rhinote.1"
	dh_installmenu
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
