#!/usr/bin/make -f

build: build-arch build-indep
build-arch:
build-indep: build-stamp
build-stamp:
	dh_testdir
	pandoc -s -w man -o rhinote.1 debian/rhinote.1.text
	touch $@

binary: binary-arch binary-indep
binary-arch: build-arch
binary-indep: build-indep
	dh_testdir
	dh_testroot
	dh_prep
	dh_install
	dh_installchangelogs 
	dh_installdocs
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -f rhinote.1
	dh_clean

# Rebuild the patches series by looking at the contents of the
# debian/patches directory.
#
# Patches with names starting with D (Debian-specific) should be applied
# after those with names starting with U (to be forwarded upstream).
rebuild-patches-series:
	@( \
		SERIES=debian/patches/series; \
		{ \
			echo "# To rebuild this file, use \`debian/rules $@'"; \
			for patch in debian/patches/U*.diff debian/patches/D*.diff; \
			do \
				test -f "$${patch}" || continue; \
				patch=$$(basename "$${patch}"); \
				echo "$${patch}"; \
			done; \
		} >"$${SERIES}"; \
	)

.PHONY: build build-arch build-indep binary binary-arch binary-indep clean rebuild-patches-series
